# Ignore compiled executables in "Basics of C language" directory
/Basics of C language/*.exe
/Basics of C language/*.out
/Basics of C language/*.elf
/Basics of C language/*.bin
/Basics of C language/*.hex
/Basics of C language/a.out

# Ignore object files (if any)
/Basics of C language/*.o
/Basics of C language/*.obj

